h1{
  text-align: center;
}
body{
  margin: auto;
}
nav{
  text-align: center;
}
ol a{

  padding-left: 10px;
  padding-right: 10px;
  background-color:gray;
}
img{
  margin-left: auto;
  margin-right: auto;
  display: block;
  height: 450px;
  width: 750px
}
figcaption{
  text-align: center;
}
#featured-property>p{
  margin-right: 375px;
  margin-left: 450px;
  text-align: center;
}



#details{
  display:inline flex
}
#details div{
  float: left;
  background-color: red;
  text-align: center;
  width: 25%; 
}


